@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --cor001: hsl(216, 57%, 11%); /*background color*/
    --cor002: hsl(214, 50%, 16%); /*container color*/
    --cor003: hsl(180, 100%, 99%); /*title color and Jules color*/
    --cor004: hsl(217, 22%, 46%); /*text color*/
    --cor005: hsl(185, 84%, 62%); /*eth color*/
    --cor006: hsl(215, 35%, 70%); /*day color*/
    --cor007: hsl(214, 31%, 26%); /*line color*/
    --cor008: hsl(217, 33%, 68%); /*creator color*/

    --font01: 'Outfit', sans-serif;
    
}

* {
    margin: 0px;
    padding: 0px;
    
}

body, html {
    overflow: hidden;
    height: 100vh;
    width: 100vh;
    background-color: var(--cor001); 
    font-family: var(--font01)
}


.container {
    justify-content: center;
    align-items: center;
    overflow: hidden;  
    margin-top: 62px; 
    padding-right: 23px;
    margin-left: 290px;
    
    width: 327px;
    height: 542px;
    border-radius: 20px;
    background-color: var(--cor002);
}

.content {
    padding: 40px;

    
}

.image {
   
}


.image img {

    width: 278px;
    height: 270px;
    
    border-radius: 15px;
}
   

.category {
    color: var(--cor003);
}

.title {
    
    font-size: 13px;
    color: white;
}
.text {
    padding: 10p;
    color: var(--cor004);
}

.value {
    display: inline;
}


.price {
    margin-left: 2px;
    
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--cor005);

}

.time {
    margin-left: 2px;
    
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px;
    color: var(--cor006);
}

.icon {
    margin-left: 5px;

}

.creator {
    font-family: var(--font01);
    font-size: 16px;
    
}

.creator-img {
    margin-top: 28px;
    border-radius: 50%;
    border: 2px solid #c9cdd8;
    height: 30px;
    
}

.creator-name {
    font-weight: 300;
    color: var(--cor008);
}

.author-name {
    font-weight: 300;
    color: var(--cor003);
}
