@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --cor001: hsl(216, 57%, 11%); /*background color*/
    --cor002: hsl(214, 50%, 16%); /*container color*/
    --cor003: hsl(180, 100%, 99%); /*title color and Jules color*/
    --cor004: hsl(217, 22%, 46%); /*text color*/
    --cor005: hsl(185, 84%, 62%); /*eth color*/
    --cor006: hsl(215, 35%, 70%); /*day color*/
    --cor007: hsl(214, 31%, 26%); /*line color*/
    --cor008: hsl(217, 33%, 68%); /*creator color*/

    --font01: 'Outfit', sans-serif;
    
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}

body {
    
    background-color: var(--cor001); 
    font-family: var(--font01)
}


.container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  

.content {
    padding: 24px;
    width: 350px;
    height: 560px;
    border-radius: 20px;
    background-color: var(--cor002);
    box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.10);

    
}

.image {
    position: relative;
    width: 302px;
    height: 302px;
    border-radius: 8px;
    background-size: 302px 302px;
}


.image img {
    width: 298px;
    height: 270px;
    border-radius: 15px;
}
   

.category {
    color: var(--cor003);
}

.title {
    
    font-size: 13px;
    color: white;
}

.text {
    padding: 10p;
    color: var(--cor004);
}

.value {
    display: inline;
}


.price {
    margin-left: 2px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--cor005);

}

.time {
    margin-left: 2px;
    
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px;
    color: var(--cor006);
}

.icon {
    margin-left: 5px;

}

.line{
    margin-top: 20px;
    border: 1px solid var(--cor007);
}

.creator {
    font-family: var(--font01);
    font-size: 16px;
    
}

.creator-img {
    margin-top: 28px;
    border-radius: 50%;
    border: 2px solid #c9cdd8;
    height: 30px;
    
}

.creator-name {
    font-weight: 300;
    color: var(--cor008);
}

.author-name {
    font-weight: 300;
    color: var(--cor003);
}
